.header-container {
  display: flex;
  align-items: flex-end;
  height: 109px;
  width: 100%;
  background: #78be20;

  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 15px;

    .title {
      font-size: 24px;
      font-weight: 600;
      color: #fff;
      line-height: 29px;
      font-family: LeroyMerlinSans;

      @media (min-width: 768px) {
        display: none;
      }
    }

    .logo-icon {
      height: 50px;
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    .section-cart {
      display: flex;
      justify-content: center;
      align-items: center;

      .cart-icon {
        height: 25px;
        transform: rotateY(180deg);
        padding: 0px 5px;
      }

      .qtd-prod {
        color: #fff;
        font-size: 13px;
        background: #DF3828;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 15px;
      }
    }
  }
}
